.header {
  background-image: url(../images/header-background.svg);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: bottom 18vh left 80vh;


  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    // padding: 30px 0;
    height: 100vh;
    // min-height: 100vh;
    max-height: 1000px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  &__bottom-content {
    // position: relative;
    // z-index: 1;
    // flex-grow: 1;
    // flex-shrink: 0;
    // min-width: 490px;
    max-width: 520px;
    // margin-right: 20px;
    margin-top: 20px;

    // opacity: 0; // Початкова прозорість 0
    // transform: translateY(20px); // Початкове положення зсунуто вниз
  
    // transition: opacity 0.5s ease, transform 0.5s ease; // Плавна анімація
  }

  &__sub-title {
    margin-bottom: 18px;
    padding: 6px 0;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__title {
    margin: 0;
    padding: 0;
    letter-spacing: -0.5px;
    font-weight: 400;
    margin-bottom: 36px;
    font-size: 4rem;
    line-height: 64px;
  }

  &__description {
    margin-bottom: 90px;
    line-height: 24px;
    letter-spacing: -0.5px;
    font-size: 1.125rem;
  }

}